@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: var(--first-color);
    color: var(--body-color);
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--body-color);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(214, 113, 67, .8);
    border-radius: 10px;
    border: 3px solid var(--body-color);
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--first-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.container {
    height: 100vh;
}

section {
    /* height: 100vh; */
    padding: 70px 17%;
}


/* ========== Reusable CSS Classes ========== */
.section_title {
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}
.section_subtitle {
    display: block;
    font-family: var(--subtitle-font);
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: .5rem;
}

.section_title,
.section_subtitle {
    text-align: center;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%
    }
}

.home-text,
.home-img,
.about-text,
.heading,
.menu-container,
.service-container,
.cta,
.footer{
    view-timeline-name: --section;
    view-timeline-axis: block;
    
    animation-timeline: --section;
    animation-name: show;

    animation-range: entry 25% cover 35%;
    animation-fill-mode: both;
}


/* ========== Header ========== */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    box-shadow: 0 8px 20px rgba(100, 47, 22, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: var(--z-fixed);
}

#header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

#header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 241, 235, .4), transparent);
    transition: .5s;
}

#header:hover::after {
    left: 100%;
}

/* -- Logo -- */
#logo {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    transition: color .3s;
}

#logo:hover {
    color: var(--first-color);
}

#logo img {
    width: 25px;
}

/* -- Navbar -- */
#check {
    display: none;
}

#menu-icon {
    position: absolute;
    right: 5%;
    font-size: 2.25rem;
    color: var(--title-color);
    cursor: pointer;
    display: none;
}

#navbar a {
    position: relative;
    font-size: 1.15rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-left: 2.5rem;
    transition: color .4s;
}

#navbar a:hover {
    color: var(--first-color);
}

.nav-img-1,
.nav-img-2 {
    display: none;
}


/* ========== Section Home ========== */
.home {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;

}

/* -- Div Home Text -- */
.home-text {
    text-align: center;
}

.home-title {
    font-size: var(--biggest-font-size);
    font-family: var(--title-font);
    margin-bottom: 1rem;
    color: var(--title-color);
}

.home-title img {
    width: 40px;
}

.home-title div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.home-text p {
    padding: 0 1rem;
    margin-bottom: 2.5rem;
}

.home-img-1,
.home-img-2 {
    position: absolute;
    opacity: .2;
}

.home-img-1 {
    width: 80px;
    top: 8rem;
    left: -1rem;
    transform: rotate(90deg);
}

.home-img-2 {
    width: 100px;
    right: 1rem;
    bottom: 3rem;
    transform: rotate(-15deg);
}

/* Button */
.btn {
    box-shadow: var(--first-color) 0 0 10px 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    padding: 1rem 1.5rem;
    background-color: var(--first-color);
    color: var(--container-color);
    font-weight: var(--font-medium);
    border-radius: 4rem;
    transition: background .3s;
}

.btn i {
    font-size: 1.5rem;
    transition: transform .3s;
}

.btn:hover {
    background-color: var(--first-color-alt);
}
.btn:hover i{
    transform: translateX(.25rem);
}

/* -- Div Home IMG -- */
.home-img {
    order: -1;
}

.home-img img {
    max-width: 100%;
    width: 500px;
    height: auto;
}


/* ========== Section About ========== */
.about {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
    text-align: center;
}

/* -- Div About IMG -- */
.about-img img {
    max-width: 100%;
    width: 480px;
    height: auto;
    justify-self: center;
}

.about-img-1 {
    width: 100px;
    opacity: .2;
    position: absolute;
    right: 1.5rem;
    transform: rotate(-15deg);
}

/* -- Div About Text -- */
.about_title img {
    width: 30px;
}
.about_title div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

.about-text h2 {
    font-size: var(--h1-font-size);
}

.about-text p {
    font-size: var(--h3-font-size);
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}


/* ========== Section Menu ========== */
.menu {
    width: 100%;
    min-height: 90vh;
    display: grid;
    align-content: center;
}

/* -- Div Menu Heading -- */
/* -- Div Service Heading -- */
.heading {
    margin-bottom: 3.5rem;
    text-align: center;
}

.heading h2 {
    font-size: var(--h1-font-size);
}

/* -- Div Menu Container -- */
.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 3.5rem;
    align-items: center;
}

/* Div Menu BOX */
.box {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--container-color);
    box-shadow: 0 8px 20px hsla(19, 64%, 48%, .08);
    border-radius: 1rem;
    padding: 20px;
    border-radius: 0.5rem;
}

/* Div IMG */
.box-img {
    width: 100%;
    height: 100%;   
}

.box-img img {
    width: 100%;
    height: 100%;
    transition: transform .4s;
}

.box:hover .box-img img {
    transform: translateY(-.30rem);
}

/* Div Text */
.box h2 {
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    margin-bottom: .25rem;
}

.box h3 {
    color: var(--text-color);
    font-size: var(--smaller-font-size);
    font-weight: 400;
    margin-bottom: 1rem;
}

.box span {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
}

/* Logo */
.box i{
    display: flex;
    background-color: var(--first-color);
    color: var(--container-color);
    box-shadow: 0 4px 20px hsla(19, 64%, 20%, .4);
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    padding: 6px;
    border-radius: 40%;
    border: none;
    font-size: 1.25rem;
    outline: none;
    cursor: pointer;
    transition: background .3s;
}
.box i:hover {
    background-color: var(--first-color-alt);
}


/* ========== Section Service ========== */
.service {
    display: grid;
    align-content: center;
}

/* -- Div Service Container -- */
.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
}

/* Div Service BOX */
.s-box {
    text-align: center;
    padding: 20px 30px;
}

/* IMG */
.s-box i {
    font-size: 150px;
    color: var(--first-color);
}

/* Text */
.s-box h3 {
    margin: 4px 0 10px;
    color: var(--title-color);
    font-size: 1.2rem;
}

.s-box p {
    line-height: 1.7;
}

/* -- CTA -- */
.cta {
    background: var(--text-color-light);
    padding: 70px 0;
    text-align: center;
    width: 60%;
    margin: 100px auto;
    border-radius: 10px;
}

.cta h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 30px;
}


/* ========== Section Contact ========== */

/* -- Div Contact Footer -- */
.footer {
    padding: 10px 0;
}

/* - Div Main - */
.main {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 25%;
}

.col h4 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}

.col h4::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--first-color);
}

.col ul li:not(last-child) {
    margin-bottom: 15px;
    width: 70%;
}

.col ul li a {
    color: var(--title-color);
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}

.col ul li a:hover {
    color: var(--text-color);
    transform: translateX(-10px);
}

.col .social {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col .social a {
    height: 40px;
    width: 40px;
    background: var(--title-color);
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .4s;
}

.col .social a:hover {
    transform: scale(1.2);
    color: var(--first-color);
    background: var(--body-color);
}


/* ========== Responsive ========== */

/* -- 992px -- */
@media (max-width: 992px) {
    section {
        padding: 50px 8%;
    }

    #menu-icon {
        display: inline-flex;
        color: var(--title-color);
    }

    #check:checked~#menu-icon #nav-menu {
        display: none;
    }

    #menu-icon #close-menu {
        display: none;
    }

    #check:checked~#menu-icon #close-menu {
        display: block;
    }

    #header {
        padding: 1.3rem 5%;
        height: 80px;
    }

    #navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(100, 47, 22, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~#navbar {
        height: 17.7rem;
    }

    #navbar a {
        color: var(--title-color);
        font-size: 1.1rem;
        font-weight: var(--font-medium);
        transition: .4s;
        display: block;
        text-align: center;
        margin: 1.5rem 0;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~#navbar a {
        transform: translateY(0px);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .nav-img-1,
    .nav-img-2 {
        display: unset;
        position: absolute;
        opacity: .2;
    }

    .nav-img-1 {
        width: 100px;
        bottom: 10rem;
        left: -2rem;
        transform: rotate(165deg);
    }

    .nav-img-2 {
        width: 50px;
        right: 0rem;
        bottom: 0;
        transform: rotate(-30deg);
    }

    .col {
        width: 50%;
        margin-bottom: 10px;
    }

}

/* -- 720px -- */
@media (max-width: 720px) {
    section {
        padding: 100px 7%;
    }

    #header {
        padding: 10px 16px;
    }

    .home {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-img {
        order: 2;
    }
}

/* -- 575px -- */
@media (max-width: 575px) {
    .home-title {
        font-size: var(--);
    }
    .col {
        width: 100%;
    }
}