:root {
    /* ========== Colors ========== */
    /* --Color mode HSL(hue(matiz), saturation(saturacion), lightness(luminosidad)-- */
    --first-color: rgb(214, 113, 66);
    --first-color-alt: hsl(19, 64%, 52%);
    --title-color: hsl(19, 16%, 15%);
    --text-color: hsl(19, 16%, 35%);
    --text-color-light: hsl(20, 8%, 55%);
    --body-color: hsl(19, 100%, 96%);
    --container-color: hsl(19, 100%, 97%);

    /* ========== Font and typography ========== */
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font: "Poppins", sans-serif;
    --title-font: "Lora", serif;
    --subtitle-font: "Dancing Script", cursive;
    --biggest-font-size: 4.25rem;
    --h1-font-size: 1.7rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}